.form__svg {
  position: relative;
  display: flex;
  align-self: center;
}
.form__select-svg {
  color: #fff;
  background-color: #2d1d49;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  pointer-events: none;
  padding: 4px;
  border-radius: 4px;
}
#title-form {
  margin: 0;
}
#title-form input {
  margin: 0;
  padding: 1rem 2rem;
}

.app {
 overflow-y: auto; 
}

.clipTextContainer {
  flex-direction: column;
}

#GuidedTourIconSet {
  display: none;
}

#clipscontainer {
  overflow-y: auto;
  height: auto;
}

.btn.video-button {
  padding: 8px;
}

.clipDetails {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.clipText {
  height: 30px;
}

.clipText.cliptitle {
  align-items: center;
}

#clipsbuttons {
  gap: 5px;
}

#title-form > .cliptitle > input{
  padding: 8px;
}

.clipTextbtn.btn {
  padding: 10px;
  padding-top: 5px;
  margin-left: 5px;
}

.clip-status {
  margin-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: stretch;
  width: 100%;
  position: relative;
}

.cliptitle > .clip-status-label {
  border: none;
}


.cliptitle > input {
  border: none;
  border-radius: 0;
}

.form__group.cliptitle.clipText {
  align-items: stretch;
}


.clip-status-label {
  display: flex;
  background: rgb(228, 228, 228);
  background: linear-gradient(
    176deg,
    rgba(228, 228, 228, 1) 0%,
    rgba(21, 21, 22, 1) 100%
  );
  padding: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 2px solid #2d1d49;
  border-right: none;
  border-bottom: 2px solid #2d1d49;
  white-space: nowrap;
  align-items: center;
  justify-content: left;
  min-width: 110px;
}

.youtubeLogo {
  width: 22px;
  height: 16px;
  margin-right: 5px;
}

.tiktokLogo {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-left: 5px;
}

.status-text {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 4px;
}
.clip-status-input {
  flex-shrink: 1;
  flex-grow: 1;
  flex: 1 1 auto;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 8px;
}
*/ .btn.save {
  margin-left: 8px;
}

.morebuttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-items: center;
}

.video-buttons {
  display: flex;
  gap: 12px;
}

.crop-buttons {
  justify-content: flex-end;
  gap: 12px;
  display: flex;
  margin-top: 8px;
}

.video-button {
  width: 100%;
  font-size: 1.5rem;
}

.clip-status-input:disabled, .halfClipStatus {
  background: #fff;
  border: 2px solid #2d1d49;
  border-left: none;
  border-bottom: 2px solid #2d1d49;

  color: #4b5563;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  /* border: 3px solid #090; */
  box-shadow: 0px 0px 3px 6px #090;
}

.tiktokSucks {
  display: none !important;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
  border: 1px dashed #444;
  width: 125px;
  height: 222px;
  transition: 500ms all;
}

input[type=radio] + label {
  width: 125px;
  font-size: medium;
}

.radio-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#cropTypeDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

.cropImage {
  width: 40px;
  height: 16/9 * 40px;
}
/* input[type=radio]:checked + label>img {
  transform: 
    rotateZ(-10deg) 
    rotateX(10deg);
} */
