/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #8c6dc5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #8c6dc5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.settingsHeader3 {
  margin-top: 5px;
  background: #222222;
}

.slider.round:before {
  border-radius: 50%;
}
.form__input.settings {
  max-width: 200px;
}

#settings {
  overflow-y: auto;
}

.form-group.settings {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.form__group.settings {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.hashtags {
  display: flex;
  gap: 8px;
  margin-bottom: 4px;
}

.tiktokSucks {
  display: none !important;
}

.form__input.hashtag {
  width: 100%;
}
.what {
  font-size: 0.8rem;
  color: rgb(179, 174, 174);
}
span.what:hover {
  cursor: pointer;
}
